* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Economica', sans-serif;
  font-size: 15px;
  color: rgba(240, 240, 214, 0.904);
  background-color: black; }

:first-letter {
  text-transform: uppercase; }

.nav__imgLogo {
  width: auto;
  height: 20vh; }

.nav__logo {
  text-align: center; }

.nav__list {
  list-style: none;
  padding: 0;
  text-align: left; }
  .nav__list .nav__list__item {
    font-size: 1.2rem;
    padding-top: 3%;
    padding-bottom: 3%; }
  .nav__list .nav__list__item__a {
    color: #e6e6c5;
    text-decoration: none;
    background-image: linear-gradient(#e6e6c5, #e6e6c5);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5%;
    transition: background-size .3s; }
  .nav__list .nav__list__item__a:hover {
    background-size: 100% 5%;
    color: #e6e6c5; }

/*---------------MEDIASQ----------------*/
@media (max-width: 767px) {
  nav {
    background-color: black; }
  .nav__list__item {
    padding-left: 2%; }
  .nav__imgLogo {
    width: auto;
    height: 15vh;
    margin: 0;
    padding: 0; }
  .nav__logo {
    margin: 0;
    padding: 0; }
  .nav__botton {
    padding-left: 0; } }

@media (min-width: 768px) and (max-width: 1023px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
      #sideNav .navbar-collapse .nav__list__item {
        font-size: 1.3rem; } }

@media (min-width: 1024px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
      #sideNav .navbar-collapse .nav__list__item {
        font-size: 1.6rem; } }

#main {
  height: 100vh;
  margin-right: 0;
  padding-right: 0;
  text-transform: none;
  /*----------EACH------------*/ }
  #main .main__izq {
    background-image: url(../multimedia/izq.jpg);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-size: 155%;
    transition: all .7s;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%); }
  #main .main__izq:hover {
    transition: all 1s;
    background-size: 170%;
    filter: none; }
  #main .main__izq__titulo {
    font-size: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 0 #000; }
  #main a {
    color: black; }
  #main a:hover {
    color: black; }
  #main .main__izq__subtitulo {
    font-size: 1.5rem;
    width: 50%;
    color: white;
    align-self: center;
    text-align: center; }
  #main .main__der {
    text-align: center;
    text-transform: uppercase; }
  #main .main__der__titulo {
    font-size: 2rem;
    font-weight: bold; }
  #main a {
    color: black; }
  #main .main__der__arriba {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../multimedia/arriba.jpg");
    background-size: 125%;
    transition: all .7s;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%); }
  #main .main__der__arriba:hover {
    transition: all 1s;
    background-size: 140%;
    filter: none; }
  #main .main__der__centro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../multimedia/centro.jpg");
    background-size: 125%;
    transition: all .7s;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%); }
  #main .main__der__centro:hover {
    transition: all 1s;
    background-size: 140%;
    filter: none; }
  #main .main__der__abajo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../multimedia/abajo.jpg");
    background-size: 125%;
    transition: all .7s;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%); }
  #main .main__der__abajo:hover {
    transition: all 1s;
    background-size: 140%;
    filter: none; }

/*---------------ANIMACIONES-------------------*/
.main__izq {
  animation: fade-main-izq 1s ease-in both; }

@keyframes fade-main-izq {
  from {
    opacity: 0;
    transform: translate3d(-80%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.main__der__arriba {
  animation: fade-der-arriba 1s ease-in both; }

@keyframes fade-der-arriba {
  from {
    opacity: 0;
    transform: translate3d(0, -80%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.main__der__centro {
  animation: fade-der-centro 1s ease-in both; }

@keyframes fade-der-centro {
  from {
    opacity: 0;
    transform: translate3d(80%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.main__der__abajo {
  animation: fade-der-abajo 1s ease-in both; }

@keyframes fade-der-abajo {
  from {
    opacity: 0;
    transform: translate3d(0, 80%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

/*-------------------MEDIAS Q-----------------*/
@media screen and (max-width: 767px) {
  #main {
    width: 100vw;
    margin-left: 0vw;
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-right: 0; }
    #main .main__izq {
      height: 73vh;
      background-image: url(../multimedia/izq.jpg);
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      background-size: 150%;
      transition: all .7s;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(100%); }
    #main .main__izq:hover {
      transition: all 1s;
      background-size: 160%;
      filter: none; }
    #main .main__izq__titulo {
      display: flex;
      justify-content: center;
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      text-shadow: 2px 2px 0 #000; }
    #main a {
      color: black; }
    #main a:hover {
      color: black; }
    #main .main__izq__subtitulo {
      font-size: 1rem;
      width: 50%;
      color: white;
      display: flex;
      align-self: center;
      text-align: center; }
    #main .main__der {
      height: 120vh;
      text-align: center;
      text-transform: uppercase; }
    #main .main__der__titulo {
      font-size: 2rem;
      font-weight: bold; }
    #main a {
      color: black; } }

@media only screen and (min-width: 768px) {
  #main {
    width: 83vw;
    margin-left: 17vw; } }

footer {
  margin: 0;
  padding: 0; }
  footer .footer__copyr {
    display: flex;
    align-items: flex-end; }
  footer .footer__redes {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }

/*---------------------MEDIASQ-------------------*/
@media only screen and (max-width: 767px) {
  footer {
    background-color: black;
    height: 9vh; }
  .footer__copyr {
    font-size: .5rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__copyr {
    background-color: black;
    font-size: .38rem; } }

@media only screen and (min-width: 1024px) {
  .footer__copyr {
    font-size: .5rem; } }

@media only screen and (min-width: 1300px) {
  .footer__copyr {
    font-size: .6rem; } }

/*---------------PORTFOLIO--------------*/
.portfolio__titulo {
  color: rgba(240, 240, 214, 0.904);
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 #727171; }

.portfolio-item {
  margin-bottom: 30px; }
  .portfolio-item .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    position: relative;
    overflow: hidden; }
  .portfolio-item .portfolio-wrap img {
    transition: 0.3s; }
  .portfolio-item .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16); }
  .portfolio-item .portfolio-wrap:hover img {
    transform: scale(1.1); }
  .portfolio-item .portfolio-wrap--border {
    border: 5px solid rgba(240, 240, 214, 0.904); }

/*------------------------INF NUTRICIONAL-------------------------------*/
.container__inf:hover .overlay {
  opacity: 1; }

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: rgba(240, 240, 214, 0.904);
  text-align: center; }

.overlay-heigt {
  height: 100%;
  padding: 10px; }

.table-font {
  font-size: 11px;
  text-align: left; }

.table-nutricional {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%; }

table {
  border-top: 1px solid; }

/*---------------ANIMACIONES-----------*/
.portfolio {
  animation: fade 1s ease-in both; }

@keyframes fade {
  from {
    opacity: 0;
    transform: translate3d(0, 0, -100%); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

/*-------------------MEDIAS Q-----------------*/
@media screen and (min-width: 768px) {
  .portfolio {
    width: 82vw;
    margin-left: 16vw; } }

@media screen and (max-width: 767px) {
  .portfolio {
    margin-top: 12vh; } }

#contacto {
  height: 100vh;
  margin-right: 0;
  padding-right: 0;
  text-transform: none;
  background: url(../multimedia/distrib3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  filter: grayscale(60%);
  transition: 1.3s; }

#contacto:hover {
  background: url(../multimedia/distrib3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(35%); }

.section__titulo--color {
  color: black;
  font-size: 2.3rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 rgba(240, 240, 214, 0.904); }

.section__subtitulo--color {
  font-size: 2.1rem;
  text-align: left;
  color: #691828;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-left: 4%; }

.formulario {
  margin-left: 4%;
  width: 50%; }

.form__divinput {
  border-bottom: 8px solid;
  border-color: black; }

.form__divinput__input {
  background-color: transparent;
  border: none; }
  .form__divinput__input .form__divinput__input:focus {
    background-color: transparent;
    color: black;
    border: 1px solid;
    border-color: white; }

.form__divinput__input::placeholder {
  color: black; }

/*------------------ANIMACIONES-----------------------*/
#contacto {
  animation: fade-distribuidores 1.3s ease-in both; }

@keyframes fade-distribuidores {
  from {
    opacity: 0;
    transform: translate3d(0, 0, -100%); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

/*----------------------MEDIASQ--------------------*/
@media screen and (max-width: 767px) {
  #contacto {
    width: 100vw;
    margin-left: 0vw;
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-right: 0;
    background-image: url(../multimedia/back-distribuidores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  #contacto:hover {
    background-image: url(../fotos/IMG_8278.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(35%); }
  .formulario {
    width: 80%; }
  .formulario__boton {
    align-items: center; } }

@media screen and (min-width: 768px) {
  #contacto {
    width: 83vw;
    margin-left: 17vw; }
  .formulario__boton {
    align-items: left;
    margin-left: 15%; } }

#about {
  margin-right: 0;
  padding-right: 0; }

#about p {
  font-size: 1.1rem; }

.parrafo-uno {
  margin-top: 12%; }

.about-img img {
  transition: .5s; }

.about-img img:hover {
  transform: scale(1.06); }

/*----------------------------------MEDIASQ------------------------------------------*/
@media screen and (max-width: 767px) {
  #about {
    width: 100vw;
    margin-top: 17vh;
    margin-left: 0vw;
    margin-bottom: 10vh;
    margin-right: 0; }
  .about-img img {
    display: none; } }

@media screen and (min-width: 768px) {
  #about {
    width: 83vw;
    margin-left: 17vw; }
  .content {
    padding-top: 0; }
  .about-img {
    height: 35vh; }
  .about-img img {
    margin-left: 50%; }
  .parrafo-uno {
    margin-top: 0; }
  .title-about {
    display: none; } }

@media screen and (min-width: 1024px) {
  .about-img img {
    margin-top: 10%;
    margin-left: 0; }
  .content {
    padding-top: 14%; } }

/*----------------ANIMACINOES----------------*/
.parrafo-uno {
  animation: fade-der-arriba-uno 1s ease both; }

@keyframes fade-der-arriba-uno {
  from {
    opacity: 0;
    transform: translate3d(0, -80%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.parrafo-dos {
  animation: fade-der-arriba-dos 1s ease both;
  animation-delay: .6s; }

@keyframes fade-der-arriba-dos {
  from {
    opacity: 0;
    transform: translate3d(0, -130%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.parrafo-tres {
  animation: fade-der-arriba-tres 1s ease both;
  animation-delay: .9s; }

@keyframes fade-der-arriba-tres {
  from {
    opacity: 0;
    transform: translate3d(0, -170%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.parrafo-cuatro {
  animation: fade-der-arriba-cuatro 1s ease both;
  animation-delay: 1.2s; }

@keyframes fade-der-arriba-cuatro {
  from {
    opacity: 0;
    transform: translate3d(0, -200%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.about-img {
  animation: fade-img 1.4s ease-in-out both;
  animation-delay: .1s; }

@keyframes fade-img {
  from {
    opacity: 0;
    transform: translate3d(0, 300%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.title-about {
  animation: fade-der-arriba 1.6s ease both; }

@keyframes fade-der-arriba {
  from {
    opacity: 0;
    transform: translate3d(400%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

#preparacion {
  margin-right: 0;
  padding-right: 0;
  text-transform: none;
  text-align: center;
  text-align: -webkit-center; }

.timeline {
  position: relative;
  padding: 0;
  list-style: none; }

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef; }

.timeline li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px; }

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left; }

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border: 3px solid #e9ecef;
  border-radius: 100%;
  background-color: white;
  color: black; }

.timeline-title {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 2rem;
  padding: 2rem; }

.timeline-panel-text {
  margin-top: 3vh;
  flex-direction: column;
  height: 13vh;
  padding-top: 5vh; }

.timeline-image-uno {
  background-image: url(../multimedia/1-freezer.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.timeline-image-dos {
  background-image: url(../multimedia/tostadora-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.timeline-image-tres {
  background-image: url(../multimedia/waffle-solo2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.timeline-image-cuatro {
  background-color: #e9ecef;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.carousel-item img {
  height: 80vh;
  width: auto; }

/*--------------------------------MEDIASQ--------------------------------------------*/
@media only screen and (max-width: 767px) {
  #preparacion {
    margin-top: 17vh;
    padding-left: 6px; }
  .timeline {
    height: 48vh;
    margin-bottom: 20%; }
  .timeline > li .timeline-image h4 {
    font-size: 13px; }
  .carousel-item img {
    height: 50vh; } }

@media (min-width: 768px) {
  #preparacion {
    margin-top: 0;
    width: 82vw;
    margin-left: 16vw; }
  .carousel-item img {
    height: 80vh;
    width: auto;
    padding-bottom: 20px; }
  .timeline {
    height: 70vh;
    margin-bottom: 10%; }
  .timeline:before {
    left: 50%; }
  .timeline > li {
    min-height: 100px; }
  .timeline > li .timeline-panel {
    float: left;
    width: 40%;
    text-align: center;
    margin-top: 5vh;
    padding: 0;
    height: 13vh; }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px; }
  .timeline > li .timeline-image h4 {
    font-size: 15px; }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left; } }

@media (min-width: 1024px) {
  .timeline {
    height: 80vh;
    margin-bottom: 10%; }
  .timeline > li {
    min-height: 170px; }
  .timeline > li .timeline-panel {
    float: left;
    width: 40%;
    text-align: center;
    padding-left: 7%;
    margin-top: 8vh;
    height: 15vh; }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px; }
  .timeline > li .timeline-image h4 {
    font-size: 22px; } }

@media (min-width: 1300px) {
  .timeline {
    height: 93vh;
    margin-bottom: 60px; }
  .timeline > li .timeline-panel {
    float: left;
    width: 40%;
    text-align: center;
    padding-left: 14%;
    margin-top: 8vh;
    height: 15vh; }
  .timeline > li .timeline-image {
    width: 180px;
    height: 180px;
    margin-left: -90px; }
  .timeline > li .timeline-image h4 {
    font-size: 28px; } }

/*---------------------------------ANIMACIONES-----------------------------------*/
.timeline-animation-uno {
  animation: fadeLeft 1s ease-in both; }

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate3d(-25%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.timeline-animation-dos {
  animation: fadeRigth 1s ease-in both;
  animation-delay: .4s; }

@keyframes fadeRigth {
  from {
    opacity: 0;
    transform: translate3d(25%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.timeline-animation-tres {
  animation: fadeLeft 1s ease-in both;
  animation-delay: .6s; }

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate3d(-25%, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.timeline:before {
  animation: fade-line 1s ease-in both;
  animation-delay: .4s; }

@keyframes fade-line {
  from {
    opacity: 0;
    transform: translate3d(0, -65%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.timeline-title {
  overflow: hidden;
  white-space: wrap; }

.timeline-title:last-of-type {
  animation: reveal 7s infinite; }

@keyframes reveal {
  0% {
    opacity: 0;
    width: 90%; }
  20% {
    opacity: 1;
    width: 90%; }
  30% {
    width: 90%; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    width: 90%; } }

h4 span {
  display: inline-block;
  animation: float .6s linear;
  animation-duration: 1.3s; }

@keyframes float {
  0%, 100% {
    transform: none; }
  33% {
    transform: translateY(-1px) rotate(-1deg); }
  66% {
    transform: translateY(1px) rotate(1deg); } }

.timeline-panel:hover span {
  animation: bounce .3s; }

@keyframes bounce {
  50% {
    transform: translateY(-20px) rotate(1deg) scale(1.1); } }
