
*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Economica', sans-serif;
    font-size: 15px;
    color: white;
    // background-image: url(../multimedia/5.jpg);
    background-color: black;
    background-size: cover;
}

:first-letter {
    text-transform: uppercase;
}
