
*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Economica', sans-serif;
    font-size: 15px;
    color:  rgba(240, 240, 214, 0.904);
    background-color: black;
    
}

:first-letter {
    text-transform: uppercase;
}
