
*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Economica', sans-serif;
    font-size: 15px;
    background-image: url(../multimedia/cuadro29.jpg);
    background-size: contain;
    color: $color-font;
    
}

:first-letter {
    text-transform: uppercase;
}

/*----------------------------------------------------------------------------------*/
