
#distribuidores{
    height: 100vh;
    margin-right: 0;
    padding-right: 0;
    text-transform: none;
    background:url(../multimedia/waffles-wafflera-jpg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    filter:grayscale(60%);
    
}

.section__titulo--color{
  color: white;
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 #000;

}

.link__titulo{
    color: white;
}

.link__titulo:hover{
    color: white;
}

.section__subtitulo--color{
    font-size:2rem;
    text-align: left;
    color: #691828;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.formulario{
    width: 50%;

}


.form__divinput{
    border-bottom: 8px solid;
    border-color: black;
}

.form__divinput__input{
    background-color: transparent;
    border:none;


    .form__divinput__input:focus{
        background-color: transparent;
        color: black;
        border: 1px solid;
        border-color: white;
    }

}

.form__divinput__input::placeholder{
    color: black;
    background-color: transparent;

}

/*-----------------MEDIASQ---------------*/


@media screen and (min-width: 768px){
    #distribuidores{
        width: 83vw;
        margin-left: 17vw;
    }

    .formulario__boton{
        align-items: left;
        margin-left: 15%;
    }
}

/*--------------MOBILE-------------*/


@media screen and (max-width: 767px){
    #distribuidores{
        width: 100vw;
        margin-left: 0vw;
        margin-top: 20vh;
        margin-bottom: 10vh;
        margin-right: 0;
        background-image: url(../multimedia/1.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        // filter:grayscale(60%);
    }

    .link__titulo{
        color: black;
    }

    .link__titulo:hover{
        color: black;
    }

    .formulario__boton{
        align-items: center;
    }
}