
footer {
    margin: 0;
    padding: 0; 
   

    .footer__copyr{
        display: flex;
        align-items: flex-end;
    }

    .footer__redes{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

}


/*---------------------MEDIASQ-------------------*/

@media only screen and (max-width: 767px){
    footer{
        background-color: black;
        height: 9vh;        
        }

        .footer__copyr{
            font-size: .5rem;
        }
}



@media only screen and (min-width: 768px)and(max-width: 1023px) {
        .footer__copyr{
            background-color: black;
            font-size: .38rem;
        }
        }


@media only screen and (min-width: 1024px){
    .footer__copyr{
        font-size: .5rem;
    }
}


@media only screen and (min-width: 1300px){
        .footer__copyr{
            font-size: .6rem;
        }
}
  
