
/*----------------------------------FOOTER---------------------------------------*/
.footer__copyr{
    display: flex;
    align-items: flex-end;
}

.footer__redes{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/*---------------------------------------------------------------------------------*/


  
