/*-------------------MEDIAS Q-----------------*/

@media screen and (max-width: 767px) {
    
    #main {   
        width: 100vw;
        margin-left: 0vw;
        margin-top: 20vh;
        margin-bottom: 10vh;
        margin-right: 0;
        


        .main__izq {
            height:100vh;
            background-image: url(../multimedia/izq.jpg);
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            background-size: 150%;
            transition: all .7s;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%); 
        }
    

        .main__izq:hover {
            transition: all 1s;
            background-size: 160%;
            filter: none; 
        }
                
        .main__izq__titulo {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            text-shadow: 2px 2px 0 #000; 
        }

        a{
            color: black;
        }

        a:hover{
            color: black;
        }
                
                
        .main__izq__subtitulo {
            font-size: 1rem;
            width: 50%;
            color: white;
            display: flex;
            
            align-self: center;
            text-align: center; 
        }


        .main__der {
            height: 82vh;
            background-color: beige;
            text-align: center;
            text-transform: uppercase; 
        }
        
        .main__der__titulo {
            font-size: 2rem;
            font-weight: bold; 
        }

        a {
            color: black;
        }
        
    }
  }

@media only screen and (min-width: 768px) {
    #main {   
    width: 83vw;
    margin-left: 17vw;
    }
}

/*----------------------------*/


#main  {
    height: 100vh;
    margin-right: 0;
    padding-right: 0;
    text-transform: none; 
    
  
        .main__izq {
            background-image: url(../multimedia/izq.jpg);
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            background-size: 160%;
            transition: all .7s;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%); 
        }
  
        .main__izq:hover {
            transition: all 1s;
            background-size: 180%;
            filter: none; 
        }
            
        .main__izq__titulo {
            font-size: 2.3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            text-shadow: 2px 2px 0 #000; 
        }

        a{
            color: black;
        }

        a:hover{
            color: black;
        }
            
            
        .main__izq__subtitulo {
            font-size: 1.5rem;
            width: 50%;
            color: white;
            align-self: center;
            text-align: center; 
        }


        .main__der {
            background-color: beige;
            text-align: center;
            text-transform: uppercase; 
        }
        
        .main__der__titulo {
            font-size: 2rem;
            font-weight: bold; 
        }

        a {
            color: black;
        }
  

    /*----------EACH------------*/

    @each $der in arriba, centro, abajo {
        .main__der__#{$der} { 
              display: flex;
              justify-content: center;
              align-items: center;
              background-image:url("../multimedia/#{$der}.jpg");
              background-size: 125%;
              transition: all .7s;
              background-repeat: no-repeat;
              background-position: center;
              filter: grayscale(100%);
        }
    

        .main__der__#{$der}:hover {
            transition: all 1s;
            background-size: 140%;
            filter: none; 
        }
    }
}
    

