
/*----------------------------------MAIN---------------------------------------------*/
#main  {
    height: 100vh;
    text-transform: none; 

      .main__izq {
          background-image: url(../multimedia/gofre-3.jpg);
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          background-size: 100%;
          transition: all .7s;
          background-repeat: no-repeat;
          background-position: center;
          filter: grayscale(70%); 
          border-left: .4rem solid $color-border;
          border-right: .4rem solid $color-border;
          border-bottom: .4rem solid $color-border;
      }

      .main__izq:hover {
          transition: all 1s;
          background-size: 110%;
          filter: grayscale(20%); 
      }
          
      .main__izq__titulo {
          text-transform: uppercase;
          text-align: center;
          position: relative;
          text-shadow: 2px 2px 0 #000; 
      }
  
      .main__izq__subtitulo {
          text-shadow: 2px 2px 0 #000; 
          font-weight: 400;
          align-self: center;
          text-align: center; 
      }

      .main__der {
          text-align: center;
          text-transform: uppercase; 
      }
      
      .main__der__titulo {
          font-size: 2rem;
      }

      a {
          color: $color-font;
          text-shadow: 3px 3px 0 #000; 
      }
  

@each $der in arriba, centro, abajo {
    .main__der__#{$der} { 
          @include col-nw-cen;
          align-items: center;
          background-image:url("../multimedia/#{$der}.jpg");
          background-size: 100%;
          transition: all .7s;
          background-repeat: no-repeat;
          background-position: center;
          filter: grayscale(70%);
          border-bottom: .4rem solid $color-border;
          border-right: .4rem solid $color-border;

        }
    

  .main__der__#{$der}:hover {
      transition: all 1s;
      background-size: 110%;
      filter: grayscale(20%); 
  }
  }
}
    

/*------------------------KEYFRAMES MAIN--------------------*/

.main__izq {
    animation: fade-main-izq 1s ease-in both;
  }
  
  @keyframes fade-main-izq {
    from {
      opacity: 0;
      transform: translate3d(-80% , 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


  .main__der__arriba {
    animation: fade-der-arriba 1s ease-in both;
  }
  
  @keyframes fade-der-arriba {
    from {
      opacity: 0;
      transform: translate3d(0 , -80% ,0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


  .main__der__centro {
    animation: fade-der-centro 1s ease-in both;
  }
  
  @keyframes fade-der-centro {
    from {
      opacity: 0;
      transform: translate3d(80% , 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


  .main__der__abajo {
    animation: fade-der-abajo 1s ease-in both;
  }
  
  @keyframes fade-der-abajo {
    from {
      opacity: 0;
      transform: translate3d(0 , 80%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

/*-----------------------------------------------------------------------------------*/