/*---------------------------------NAV-----------------------------------------*/

.nav__logo{
    text-align: center
}

.nav__imgLogo{
    width: auto;
    height: 20vh;
}

.nav__list{
    list-style: none;
    padding: 0;
    text-align: left;

    .nav__list__item{
    font-size: 1.2rem;
    padding-top: 3%;
    padding-bottom: 3%;

        .nav__list__item__a{
        color:$color-font;
        text-decoration: none;
        background-image: linear-gradient($color-font,$color-font);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 5%;
        transition: background-size .3s;    

        }
        .nav__list__item__a:hover{
        background-size: 100% 5%;
        color: $color-font;
        }
    }
}

/*---------------------------------------------------------------------------------*/



