/*---------------------------------PREPARACION--------------------------------------*/
#preparacion{
  text-align: center;
  background-size: cover;
  background-position: top;
}

.list-preparacion{
  @include col-nw-cen;
  width: 45%;
  align-items: flex-start;
  list-style: circle;
  box-shadow: 3px 4px 4px black;

}

.preparacion-title{
  font-size: 2rem;
  padding: 1rem;
  border-top: 1px solid $color-font;
  border-bottom: 1px solid $color-font;
}

#desayunos{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


#desayunos figure {
  box-shadow: 1px 6px 5px black;
}

#desayunos figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1,1.1);
  transition: .2s;
  z-index: 20;
}

.desayunos-1 {
  -webkit-transform : rotate(-6deg);
  z-index: 1;
}

.desayunos-2 {
  -webkit-transform : rotate(12deg);
  z-index: 2;
}

.desayunos-3 {
  -webkit-transform : rotate(-25deg);
  z-index: 1;
}


.desayunos-4 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}

.desayunos-6 {
  -webkit-transform : rotate(-13deg);
  z-index:1;
}

.desayunos-7 {
  -webkit-transform : rotate(-7deg);
  z-index:1;
}

.desayunos-8 {
  -webkit-transform : rotate(2deg);
  z-index:1;
}


/*----------------------KEYFRAME PREPARACION-------------------*/

.preparacion-title {
  animation: title-preparacion 5s infinite;
}

@keyframes title-preparacion {
    0% {opacity:0;width:90%;}
    20% {opacity:1;width:90%;}
    30% {width:90%;}
    80% {opacity:1;}
    100% {opacity:0;width:90%;}
}

.list-preparacion {
  animation: list-preparacion 1.3s ease-out ;
}

@keyframes list-preparacion {
  from {
    transform: translate3d(200% , 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}


#desayunos {
  animation: desayunos 1.3s ease-out;
}

@keyframes desayunos {
  from {
    transform: translate3d(0 , 200%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/*------------------------------------------------------------------------------------*/