/*---------------PORTFOLIO--------------*/

.portfolio__titulo{
  color: rgba(240, 240, 214, 0.904);
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-shadow: 2px 2px 0 rgb(114, 113, 113);
}


.portfolio-item {
  margin-bottom: 30px;


  .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
  }
  
    .portfolio-wrap img {
      transition: 0.3s;
    }
  
  
    .portfolio-wrap:hover {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
    }
  
    .portfolio-wrap:hover img {
      transform: scale(1.1);
    }
  

    .portfolio-wrap--border{
        border: 5px solid rgba(240, 240, 214, 0.904);
    }
}


 /*------------------------INF NUTRICIONAL-------------------------------*/
 
 .container__inf:hover .overlay {
  opacity: 1;
}

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: rgba(240, 240, 214, 0.904);
    text-align: center;
  }

  .overlay-heigt{
    height: 100%;
    padding: 10px;
  }


    .table-font{  
    font-size: 11px;
    text-align: left;
    }

    .table-nutricional{
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
    }

      table{
        border-top: 1px solid;
      }



/*---------------ANIMACIONES-----------*/
.portfolio {
  animation: fade 1s ease-in both;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate3d(0 , 0, -100%);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



/*-------------------MEDIAS Q-----------------*/

@media screen and (min-width: 768px) {

  .portfolio{
    width: 82vw;
    margin-left: 16vw;
  }
  }
  
  @media screen and (max-width: 767px){
  .portfolio{
   margin-top:12vh ;
    }
  
  }